@import './styles/setup/typography.css';
@import './styles/basics/base.css';
@import './styles/design.css';

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
